/* ESTILOS DEL INDEX PRINCIPAL */



.espacio{
    margin-right: 40px;
}

.espacio-1{
    margin: 25px;
}

.espacio-2{
    margin: 40px;
}


.colorpie{
    color: white;
    
}



/* ESTILOD DE CONTACTANOS */

.espaciodiv{
    margin-top: 5rem;
}

